@font-face {
  font-family: "EnterCommand";
  src:
    url("assets/fonts/entercommand.woff2") format("woff2"),
    url("assets/fonts/entercommand.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Victor Mono";
  src:
    url("assets/fonts/victor-mono.woff2") format("woff2"),
    url("assets/fonts/victor-mono.woff") format("woff");
  font-display: swap;
}

body {
  margin: 0;
  background: #336;
  color: #fff;
  font-size: 22px;
}

.container {
  font-size: 2rem;
}
